body{
    background-color: grey;
}
#container{
    width: 1440px;
    background-color: hsl(207, 26%, 17%);
    margin-left: auto;
    margin-right: auto;
}
#header{
    padding: 20px;
    background-color: hsl(209, 23%, 22%);
}
#dark_mode{
    display: inline-block;
    margin-left: 1000px;
    background-color: hsl(209, 23%, 22%);
}
#title{
    display: inline-block;
    color:whitesmoke;
}

#content{
    width: 1440px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    
    

}

#separate_country{
    display: none;
    width: 1440px;
    height: 700px;
}

#search{
    width: 32px;
    display: inline-block;
}

#region{
    margin-left: 1100px;
}

#country{
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 20px;
}
.country_container{
    margin:40px;
    width: 220px;
    border:none;
    background-color: hsl(209, 23%, 22%);
    color: yellow;
    text-align: left;
    padding: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.flag{
    margin: 5px;
    width: 170px;
    height: 150px;
}

#search{
    width: 170px;
    display: inline-block;
    
}
select{
    width: 150px;
    display: inline-flex;
    margin-left: 1100px;
    background-color: hsl(209, 23%, 22%);
    border: 1px black solid;
    color: whitesmoke;
}
#input_value{
    background-image: url("search-outline.svg");
    background-repeat: no-repeat;
    text-align: right;
    border: 1px black solid;
    background-color: hsl(209, 23%, 22%);
    color: whitesmoke;


}

#separate_country{
    margin-left: 30px;
}

#back{
    display: inline-block;
    margin: 30px;
}
#solo_country{
    display: inline-flex;
    font-size: 30px;
    color: whitesmoke;
}

#flag_solo{
    display: block;
    width: 600px;
}

#container_solo{
    display: grid;
    grid-template-columns: auto auto;
}

#details{
    display: grid;
    grid-template-columns: auto auto;
    color: whitesmoke;
    font-size: 25px;
}

#border{
    font-size: 25px;
    color: whitesmoke;
}

.space{
    margin-top: 25px;
    margin-bottom: 25px;
    color: whitesmoke;
}

#back{
    border: none;
    font-size: 15px;
    background-color: hsl(207, 26%, 17%);
    color: whitesmoke;
    border: 1px white solid;
}